{% load static %}
<!--footer start-->
	<footer class="footer">
		<div class="subscribe-now line">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-5 col-md-6">
						<div class="subscribe-newsletter">
							<div class="sub-text">
								<p>Connectez-vous avec nous pour des mises à jour et des offres.</p>
							</div>
							<form>
								<input class="input-subscribe" name="newsletter" type="text" placeholder="Entrez votre adresse email">
								<div class="subscribe-btn">							
									<div class="s-n-btn">
										<button class="newsletter-btn btn-link">Abonnez-vous maintenant</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						<div class="language">	
							<form method="post" enctype="multipart/form-data" id="form-language">
							<div class="btn-group open">
								<button class="lang-btn l-btn-link dropdown-toggle-no-caret" data-toggle="dropdown" aria-expanded="true">
									<i class="fas fa-globe"></i><span class="hidden-xs">Anglais</span><i class="fas fa-caret-down"></i>
								</button>
								<ul class="dropdown-menu">
									<li><a href="javascript:;">Anglais</a></li>
								</ul>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
					<div class="img-title">
						<a href="index.html"><img src="{% static 'restaurants/images/logo-2.svg' %}" alt=""></a>
					</div>
					<p>YOUBOOKLIVE est une plateforme ou vous avez la possibilité d'acheter ou réserver des billets pour des voyages de votre choix et le tout payable en ligne sans plus avoir à vous déplacer. </p>
				</div>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="link-title">
						<h4>A Propos</h4>
						<ul class="links">
							<li><a href="about.html">About Us</a></li>
							<li><a href="#">Carrières</a></li>
							<li><a href="#">Developpeurs</a></li>
							<li><a href="#">Mobile Apps</a></li>
							<li><a href="contact.html">Contacts</a></li>
						</ul>
					</div>					
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
					<div class="link-title">
						<h4>Business</h4>
						<ul class="links">
							<li><a href="add_restaurant.html">Agences</a></li>
							<li><a href="#">Voyage Terrestre</a></li>
							<li><a href="#">Voyage Par Bateau</a></li>
							<li><a href="#">Voyage Par Train</a></li>
							<li><a href="#">Diaspora</a></li>
							<li><a href="#">Particuliers</a></li>
						</ul>
					</div>					
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
					<div class="link-title">
						<h4>Partenaire avec nous</h4>
						<ul class="links">
							<li><a href="add_restaurant.html">Logistique</a></li>
							<li><a href="add_driver.html">Livraison</a></li>
							<li><a href="add_driver.html">Transport</a></li>						
						</ul>
						<div class="social-btns">
							<a href="#"><div class="social-btn soc-btn"><i class="fab fa-facebook-f"></i></div></a>
							<a href="#"><div class="social-btn soc-btn"><i class="fab fa-twitter"></i></div></a>
							<a href="#"><div class="social-btn soc-btn"><i class="fab fa-instagram"></i></div></a>
							<a href="#"><div class="social-btn soc-btn"><i class="fab fa-linkedin-in"></i></div></a>
							<a href="#"><div class="social-btn soc-btn"><i class="fab fa-youtube"></i></div></a>
						</div>
					</div>					
				</div>				
			</div>
		</div>
		<div class="privacy-cards">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="privacy-terms">
							<ul>
								<li><a href="#">Confidentialité</a></li>
								<li><a href="#">Conditions générales</a></li>
								<li><a href="#">Plan du site</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="cards">
							<img src="{% static 'restaurants/images/cards.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="copyright-text">
						<i class="far fa-copyright"></i>Copyright 2020 <a href="index.html">YOUBOOKLIVE</a> by Yannick ABOH. Tous Droits Réservés.
						</div>
					</div>			
				</div>
			</div>
		</div>
	</footer>
	<!--footer end-->