{% load static %}
<!--how-to-work start-->
	<section class="how-to-work">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="work-item">
						<div class="work-img">
							<img src="{% static 'travelapp/images/homepage/how-to-work/img_4.svg' %}" alt="">
						</div>
						<div class="work-text">
							<h4>Départ | Arrivée</h4>
							<p>Une fois sur notre plateforme, renseigner juste votre ville de départ et votre ville d'arrivée</p>
						</div>
					</div>
				</div><div class="col-md-4 col-sm-12 col-xs-12">
					<div class="work-item">
						<div class="work-img">
							<img src="{% static 'travelapp/images/homepage/how-to-work/img_5.svg' %}" alt="">
						</div>
						<div class="work-text">
							<h4>Informations Supplémentaires</h4>
							<p>Une fois que vous aurez choisi votre voyage, veuillez completer vos informations de voyage.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="work-item">
						<div class="work-img">
							<img src="{% static 'travelapp/images/homepage/how-to-work/img_6.svg' %}" alt="">
						</div>
						<div class="work-text">
							<h4>Payer en ligne</h4>
							<p>Après avoir completer vos informations, il ne vous restera plus qu'a passer à la caisse.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--how-to-work end-->