from django.shortcuts import get_object_or_404, render, redirect
from django.views import generic
from django.contrib.auth.models import Group, User
from django.contrib.auth import authenticate, login
from django.contrib.auth import logout
from django.http import JsonResponse
from django.http import HttpResponse
from django.views.generic import TemplateView,ListView
from django.views.generic.edit import CreateView, UpdateView, DeleteView
from django.http import HttpResponseRedirect
from django.forms import ModelForm
import re
from django.db.models import Q
import datetime
from django.core.paginator import Paginator, EmptyPage, PageNotAnInteger
from django.contrib import messages
from django.views.generic import TemplateView,ListView
from django.views.generic.edit import CreateView, UpdateView, DeleteView
from django.template import RequestContext
from django.core.exceptions import ObjectDoesNotExist
import urllib
from decimal import Decimal
from django.template import loader
from django import template
from django.template.loader import get_template
from django.core.mail import EmailMessage

from travelapp import models

# Create your views here.

######################################################################################
#																					 #
#                              MANAGE YOUBOOK SITE                                   #
#																					 #
######################################################################################

# Acceuil
from travelapp.models import ClasseVoyage


def index(request):

	terrestres = ClasseVoyage.objects.filter(voyage__typevoyage__name__contains='Par Voie Terrestre')[:8]
	trains = ClasseVoyage.objects.filter(voyage__typevoyage__name__contains='Par Voie Ferroviaire')[:8]
	maritimes = ClasseVoyage.objects.filter(voyage__typevoyage__name__contains='Par Voie Maritime')[:8]

    results_terrestre = None
 results_ferroviaire = None
 results_maritime = None
 ville_depart = None
 ville_arrivee = None
 if 'ville_depart' and 'ville_arrivee' in request.GET:
  ville_depart = request.GET.get('ville_depart')
  ville_arrivee = request.GET.get('ville_arrivee')
  results_terrestre = ClasseVoyage.objects.all().filter(
   Q(voyage__typevoyage__ville_depart__contains=ville_depart) |
   Q(voyage__typevoyage__ville_arrivee__contains=ville_arrivee) |
   Q(voyage__typevoyage__name__contains='Par Voie Terrestre'))
  results_ferroviaire = ClasseVoyage.objects.all().filter(
   Q(voyage__typevoyage__ville_depart__contains=ville_depart) |
   Q(voyage__typevoyage__ville_arrivee__contains=ville_arrivee) |
   Q(voyage__typevoyage__name__contains='Par Voie Ferroviaire'))
  reults_maritime = ClasseVoyage.objects.all().filter(
   Q(voyage__typevoyage__ville_depart__contains=ville_depart) |
   Q(voyage__typevoyage__ville_arrivee__contains=ville_arrivee) |
   Q(voyage__typevoyage__name__contains='Par Voie Maritime'))

return render(request, 'site/index.html', {

        'terrestres':terrestres,
        'trains':trains,
        'maritimes':maritimes,
        'results_terrestre':results_terrestre,
        'results_ferroviaire':results_ferroviaire,
        'reults_maritime':reults_maritime

})

def rechercher(request):
	terrestres = ClasseVoyage.objects.filter(voyage__typevoyage__name__contains='Par Voie Terrestre')[:8]
	trains = ClasseVoyage.objects.filter(voyage__typevoyage__name__contains='Par Voie Ferroviaire')[:8]
	maritimes = ClasseVoyage.objects.filter(voyage__typevoyage__name__contains='Par Voie Maritime')[:8]
	return render(request, 'site/index.html', {'terrestres':terrestres, 'trains':trains, 'maritimes':maritimes})


            <div class="main-p-pagination">
                <nav aria-label="Page navigation example">
                    {% if restaurant.paginator.num_pages > 1 %}
                    <ul class="pagination">

                        {% if restaurant.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">
                              <i class="fas fa-chevron-left"></i>
                              <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ restaurant.previous_page_number }}">
                              <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        {% endif %}


                        <li class="page-item"><a class="page-link active" href="#">{{ restaurant.number }}</a></li>


                        {% if restaurant.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ restaurant.next_page_number }}">    
                              <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ restaurant.paginator.num_pages }}">
                              <i class="fas fa-chevron-right"></i>
                              <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                        {% endif %}


                    </ul>
                    {% endif %}
                </nav>
            </div>
